.toplevel_page_DKOVotables {
  .icon32 {
    background-image: url(http://s.gravatar.com/avatar/dcf949116994998753bd171a74f20fe9?s=32);
  }

  .container {
    clear: both;
    overflow: hidden;
  }

  .main {
    float: left;
    width: 60%;

    .half {
      float: left;
      margin-right: 2%;
      width: 46%;
    }
  }

  .sidebar {
    float: left;
    margin-left: 4%;
    width: 35%;
  }

  .results {
    .widefat td {
      padding-top: 8px;
      padding-bottom: 4px;
    }

    /* tds and divs in the results table */
    .id {
      white-space: nowrap;
      width: 5%;
    }
    .group {
      width: 10%;
    }
    .votes {
      text-align: right;
      white-space: nowrap;
      width: 10%;
    }
    .vote-for {
      width: 20%;
    }
  }
}

@import "dkovotable";

.js.toplevel_page_DKOVotables {
  .click-to-toggle {
    cursor: pointer;
    &:before {
      content: '+ ';
    }
    &.active:before {
      content: '- ';
    }
  }

  .collapsible {
    box-sizing: border-box;
    display: none;
    padding-left: 1em;
  }
}
